.bookedFlights {
    width: 50%;

    display: inline-block;
    vertical-align: top;
}

.addFlight {
    display: inline-block;
}
.avSeats{
    float: right;
    vertical-align: top;
}

.avSeatsText{
    font-size: medium;
    margin-right: 10px;
}


.flights {
    width: 50%;

    display: inline-block;
    vertical-align: top;
}

.sAflights {
    display: inline-block;
    vertical-align: top;
}

.search_avaible {
    display: inline-block;
    top: 15px;
    float: right;
}

.searchfield{
    top:0px;
    margin-right:10px;
}


.flight_el {
    width: 90%;
}

.seats_ava {
    margin-left: 15px;
}

.user_flights_card {
    margin-right: 20px;
}

.seats {
    float: right;
}

.delete_booked_flight {
    float: right;
    bottom: 7px;
}

.dep {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-left: 20px;
}

.button_notes{
    top:20px;
    float:right;
}